.intro-pagina{
    margin-top: 50px;
    font-size: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:10px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: gold;
  }
