.cont-software{
    width: 1170px;
    height: 368px;
    margin: 10px 10px 40px;
    display: flex;
    align-items: flex-start;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 3px;
    justify-content: left;
    box-shadow: 0 3px 13px 1px rgb(26, 204, 85);
    background-image: url(../imagenes/software-de-gestao-financeira.webp);
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
    padding: 15px;
}
p{
    color: rgb(251, 2, 2);
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
ul{
    justify-content: right;
    text-align: justify;
}
h2{
    color:red;
    hyphens: auto;
    font-family: 'Times New Roman', Times, serif;
}